/*=====================
GENERAL
======================*/


*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	color: #ccc;
}


a {
	text-decoration: none;
}

/*=====================
HEADER
======================*/

.main-header {
	height: 60px;
	background: #6060CD;
}


/* LOGO */

.logo {
	display: inline-block;
	float: left;
	padding: 20px 0 20px 8px;
	font-size: 1.3rem;
	font-weight: 300;
	color: #ccc;
}

.your {
	font-weight: bold;
	color: #fff;
}

/* AVATAR  */

.avatar {
	display: flex;
	align-items: center;
	float: right;	
	padding: 15px 5px 5px 5px;
}

.bell-icon {
	width: 25px;
	height: 25px;
	margin-right: 10px;
	cursor: pointer;
}

.avatar-icon {
	width: 30px;
	height: 30px;
	border-radius: 100%;
}

.avatar-name {
	padding: 3px;
	font-size: 0.7rem;
}

/*=====================
NAVIGATION
======================*/

.main-nav {
	background: #595986;
	width: 100%;
	height: 55px;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-nav li  {
	list-style-type: none;
	margin: 0 10px;
	padding: 0 5px 9px 5px;
}

.main-nav li:hover {
	 border-bottom: 3px solid #99ff99;
}

.btn {
	width: 30px;
	height: 30px;
	margin-top: 10px;
	opacity: 0.6;
}

.btn:hover {
	opacity: 1;
}

/*=====================
MAIN CONTENT
======================*/


.title-search {
	text-align: center;
}

.content-title {
	display: inline-block;
	font-size: 1.5rem;
	color: #B9B8B8;
	margin-top: 1em;
}

input[type="text"] {
	background: url(../images/search.png) no-repeat;
	background-size: 15px 15px;
	background-position: center right;
	font-size: 18px;
	width: 94%;
	padding: 2px 5px;
	margin-top: 1rem;
}

/*=====================
ALERT MESSAGES
======================*/

.alert-box {
	text-align: center;
	line-height: 20px;
}

.alert-message {
	margin: 10px 0px;
	padding: 10px;
	border-radius: 2%;
	width: 95%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	background: #6060CD;
}

.alert {
	text-transform: uppercase;
	padding-right: 15px;
	color: #fff;
}

.offButton {
	margin-left: 40px;
	font-weight: 900;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
}



/*=====================
CLEARFIX
======================*/

.clearfix {
	.group:before,
	.group:after {
	    content: "";
	    display: table;
	} 
	.group:after {
	    clear: both;
	}
	.group {
	    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
	}
}

/*=====================
RESPONSIVE LAYOUT
======================*/

/* TABLET LAYOUT */

@media only screen and (min-width: 768px) {
	.main-content {
	}

	.content-title {
		margin: 0;
		float: left;
		padding-top: 14px;
		padding-bottom: 14px;
		padding-left: 10px;
		padding-right: 10px;
	}

	input[type="text"] {
		float: right;
		width: 30%;
		margin: 15px 5px 10px 0; 
	}

	.alert-message {
		text-align: left;
		padding-left: 30px;
	}

	.offButton {
		float: right;
	}
}

/* DESKTOP LAYOUT */

@media only screen and (min-width: 1024px) {
	.main-nav {
		flex-flow: column;
		justify-content: flex-start;
		align-items: center;
		width: 4%;
		height: 950px;
	}

	.main-nav li {
		margin-top: 10px;
		width: 100%;
		text-align: center;
	}

	.main-nav li:hover {
		 border-left: 3px solid #99ff99;
		 border-bottom: none;
	}

	.main-content {
		width: 96%;
		margin-left: 4%;
	}

	.alert-box {
		width: 100%;
		text-align: center;
	}

	.alert-message {
		width: 95%;
		margin-left: 2.5%;

	}

}