/*=====================
GENERAL
======================*/


*,
*:before,
*:after {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	max-height: 100%;
}

/*=====================
HEADER
======================*/

.main-header {
	height: 50px;
	background: purple;
}

/* LOGO */

.logo {
	display: inline-block;
	float: left;
	padding: 15px 0 20px 8px;
	font-weight: 100;
	color: #fff;
}

.your {
	font-weight: bold;
}

/* AVATAR  */

.avatar {
	display: flex;
	align-items: center;
	float: right;	
	padding: 10px 5px 5px 5px;
}

.bell-icon {
	width: 25px;
	height: 25px;
	padding-right: 10px;
}

.avatar-icon {
	width: 30px;
	height: 30px;
	border-radius: 100%;
}

.avatar-name {
	padding: 3px;
	font-size: 10px;
	color: white;
}